@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #FFF0DC;
  --foreground: #171717;
  --fontColor: #2B0F00;
  --fontColorDark: #1C0A00;
  --primary: #FEC51C;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Scrollbar pour Chrome, Safari et Edge */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--background); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--fontColor); 
  border-radius: 10px;
  border: 3px solid var(--background);
}
::-webkit-scrollbar-thumb:hover {
  background-color: darken(var(--fontColor), 10%);
}
/* Scrollbar pour Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--fontColor) var(--background);
}





.spacing-normal {
  letter-spacing: normal;
}


@keyframes bandSpawnLeft {
  to {
    left: 0;
  }
}

@keyframes bandSpawnRight {
  to {
    right: 0;
  }
}


.band-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--fontColorDark);
}

.band-container-left {
  animation: bandSpawnLeft 4s ease-in-out forwards;
  left: 100%;
}

.band-container-right {
  animation: bandSpawnRight 4s ease-in-out forwards;
  right: 100%;
}

@keyframes scroll {
  to {
    left: -2500px;
  }
}

.band-item {
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 100%;
  animation: scroll 60s linear infinite;
}

.reverse {
  animation-direction: reverse;
}

.band-item0 {
  animation-delay: calc(60s / 9 * (9 - 1) * -1);
}
.band-item1 {
  animation-delay: calc(60s / 9 * (9 - 2) * -1);
}
.band-item2 {
  animation-delay: calc(60s / 9 * (9 - 3) * -1);
}
.band-item3 {
  animation-delay: calc(60s / 9 * (9 - 4) * -1);
}
.band-item4 {
  animation-delay: calc(60s / 9 * (9 - 5) * -1);
}
.band-item5 {
  animation-delay: calc(60s / 9 * (9 - 6) * -1);
}
.band-item6 {
  animation-delay: calc(60s / 9 * (9 - 7) * -1);
}
.band-item7 {
  animation-delay: calc(60s / 9 * (9 - 8) * -1);
}
.band-item8 {
  animation-delay: calc(60s / 9 * (9 - 9) * -1);
}




@keyframes fadeIn {
  0% {
    width: 0; 
    opacity: 1;
  }
  50% {
    width: 100%; 
  }
  70% {
    width: 100%; 
    transform: translateX(0);
  }
  100% {
    width: 100%;
    transform: translateX(100%);
    opacity: 1;
  }
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
}

.loader-item {
  position: absolute;
  height: 100%;
  width: 0;
  opacity: 0;
  animation: fadeIn 1.8s ease-in-out;
}
