@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF0DC;
  --foreground: #171717;
  --fontColor: #2B0F00;
  --fontColorDark: #1C0A00;
  --primary: #FEC51C;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Scrollbar pour Chrome, Safari et Edge */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--background); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--fontColor); 
  border-radius: 10px;
  border: 3px solid var(--background);
}
::-webkit-scrollbar-thumb:hover {
  background-color: darken(var(--fontColor), 10%);
}
/* Scrollbar pour Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--fontColor) var(--background);
}










/* styles.css */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


.band-container {

}

.band-container:nth-child(0) {
  animation-delay: calc(20s / 9 * 0);
}
.band-container:nth-child(1) {
  animation-delay: calc(20s / 9 * 1);
}
.band-container:nth-child(2) {
  animation-delay: calc(20s / 9 * 2);
}
.band-container:nth-child(3) {
  animation-delay: calc(20s / 9 * 3);
}
.band-container:nth-child(4) {
  animation-delay: calc(20s / 9 * 4);
}
.band-container:nth-child(5) {
  animation-delay: calc(20s / 9 * 5);
}
.band-container:nth-child(6) {
  animation-delay: calc(20s / 9 * 6);
}
.band-container:nth-child(7) {
  animation-delay: calc(20s / 9 * 7);
}
.band-container:nth-child(8) {
  animation-delay: calc(20s / 9 * 8);
}